# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.log

# Development files
.env
.env.local
.env.*.local
*.ts
!*.config.ts
!tsconfig*.json

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Misc
README.md
coverage
*.md
