# Server
PORT=
NODE_ENV=
FE_URL=

# Database
MONGO_URI=

# Session
SESSION_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

#Gmail
GMAIL_USER=
GMAIL_APP_PASSWORD=
CONTACT_TO_EMAIL=